<div class="sidebar-div">
        <h2><a href="{{url_for('show_sports_teams', sport_id=team.sport_id)}}">{{ (teams|first).sports.name }} Teams</a></h2>
        
        {% for team in teams %}
        <p>
            <a href={{ url_for("show_team", sport_id=team.sport_id, team_id=team.id) }}>{{ team.name }}</a>
        </p>
        {% endfor %}

        <span class="add-new">
            <a href={{ url_for("new_sport") }}>Add a new sport <img src="/static/images/fa-plus-circle.svg"></img></a>
        </span>
</div>