{% extends "index.html" %}
{% block content %}
{% include "/includes/header.html" %}

<div class="edit-page">    
    <form method="post">
        <label for="name">Name: </label>
        <input id="name" type="text" maxlength="100" name="name" value="{{team.name}}">
        <br>
        <label for="league">League: </label>
        <input id="league" type="text" maxlength="40" name="league" value="{{team.league}}">
        <br>
        <label for="wins">Wins: </label>
        <input id="wins" type="text" name="wins" value="{{team.wins}}">
        <br>
        <label for="losses">Losses: </label>
        <input id="losses" type="text" name="losses" value="{{team.losses}}">
        <br>
        <label for="logo">Logo: </label>
        <input id="logo-web" type="text" name="logo-web" value="{{team.logo}}">
        <input id="logo-check" type="radio" name="logo-check" value="web-checked">
        <br>
        <label></label>
        <input id="logo-file" type="file" name="logo-file" value="{{team.logo}}">
        <input id="logo-check" type="radio" name="logo-check" value="file-checked">
        <br>
        <input id="submit" type="submit" value="Save"/>
    </form>
    <script>
            document.getElementById("submit").focus();
    </script>
</div>

{% endblock %}